<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'Entity list'" [class]="'card-head-lg'">
		<ng-container ktPortletTools >
			<!-- <button [routerLink]="['../users/add']" mat-raised-button color="primary" matTooltip="Create new User">New user</button> -->
			<div class="p-d-flex" style="margin-left: -65em;">
				<span>
					<p-dropdown [options]="dataSources" [(ngModel)]="selectedDataSource" optionLabel="name" optionValue="code"></p-dropdown>
				</span>
			</div>
			<!-- <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search" style="left: -1.5rem;"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
                </span>
            </div> -->
		</ng-container> 
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<!-- <h3>{{selectedDataSource}}</h3> -->
		<!-- <div class="card"> -->
			<p-table #dt1 *ngIf="selectedDataSource === 'HIR Schema'"  [columns]="cols" [value]="courses1" sortMode="multiple"
				[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" styleClass="p-datatable-sm"
				[rowHover]="true" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[globalFilterFields]="['name','fieldDescription','length']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex">
						<h3>{{selectedDataSource}}</h3>
						<span class="p-input-icon-left" style="margin-left: 5rem;">
							<i class="pi pi-search" style="left: -1.5rem;"></i>
							<input pInputText type="text" style="width: 15rem;
							border-radius: 8px;" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th [pSortableColumn]="col.field" *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign, 'width': col.width}">
							{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">No courses found.</td>
					</tr>
				</ng-template>
			</p-table>

			<p-table #dt1 *ngIf="selectedDataSource === 'Safe Travels Schema'" [columns]="cols" [value]="courses2" sortMode="multiple"
				[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" styleClass="p-datatable-sm"
				[rowHover]="true" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[globalFilterFields]="['name','fieldDescription','length']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex">
						<h3>{{selectedDataSource}}</h3>
						<span class="p-input-icon-left" style="margin-left: 5rem;">
							<i class="pi pi-search" style="left: -1.5rem;"></i>
							<input pInputText type="text" style="width: 15rem;
							border-radius: 8px;" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th [pSortableColumn]="col.field" *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign, 'width': col.width}">
							{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">No courses found.</td>
					</tr>
				</ng-template>
			</p-table>

			<p-table #dt1 *ngIf="selectedDataSource === 'FV-HHIE Mapping'" [columns]="cols" [value]="courses3" sortMode="multiple"
				[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" styleClass="p-datatable-sm"
				[rowHover]="true" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[globalFilterFields]="['name','fieldDescription','length']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex">
						<h3>{{selectedDataSource}}</h3>
						<span class="p-input-icon-left" style="margin-left: 5rem;">
							<i class="pi pi-search" style="left: -1.5rem;"></i>
							<input pInputText type="text" style="width: 15rem;
							border-radius: 8px;" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th [pSortableColumn]="col.field" *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign, 'width': col.width}">
							{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">No courses found.</td>
					</tr>
				</ng-template>
			</p-table>

			<p-table #dt1 *ngIf="selectedDataSource === 'All'" [columns]="colsAll" [value]="courses4" sortMode="multiple"
				[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" styleClass="p-datatable-sm"
				[rowHover]="true" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[globalFilterFields]="['name','fieldDescription','length','id']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex">
						<h3>{{selectedDataSource}}</h3>
						<span class="p-input-icon-left" style="margin-left: 5rem;">
							<i class="pi pi-search" style="left: -1.5rem;"></i>
							<input pInputText type="text" style="width: 15rem;
							border-radius: 8px;" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th [pSortableColumn]="col.field" *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign, 'width': col.width}">
							{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">No courses found.</td>
					</tr>
				</ng-template>
			</p-table>
		<!-- </div> -->
		
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
